body{
    background: #fff;
    margin: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 50px;
    min-height: 80vh;
    width: 30%;
    background: rgb(116, 106, 106);
    box-shadow: 3px 2px 20px 10px #000;
}

img{
    transform: translateY(200%);
    transition: all 1s ease-in-out;
}

img.loaded{
    transform: translateY(0);
    background-color: darkcyan;
    padding: 50px 30px;
    border-radius: 5px;
    box-shadow: 3px 2px 20px 10px #000;
}

input{
    border: 1px solid black;
    padding: 15px;
    width: 80%;
    margin-bottom: 25px;
    margin-top: 25px;
    z-index: 1;
    border-radius: 5px;
}

button{
    width: 87%;
    border: none;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 1;
}

.btn-generate{
    background-color: salmon;
}

.btn-download{
    background-color: darkgoldenrod;
}

.btn-download:hover{
    background-color: rgb(18, 31, 18);
}

.btn-generate:hover{
    background-color: rgb(18,31,18);
}

@media (max-width: 900px ) {

    .container{
        width: 60%;
    }    
}

@media (max-width: 500px){

    .container{
        width: 100%;
    }   
}